ahsu-accordion-plus-button1-wrapper
.ahsu-accordion-plus-button1-wrapper
	position: relative

	& .ahsu-accordion-wrapper
		position: relative
		cursor: pointer

		&:hover
			& .ahsu-title
				color: blue

		&.ahsu-extend
			& img
				transform: scale(0.8)

			& .ahsu-title
				color: blue

	& img
		display: inline-block
		width: 28px
		height: 28px
		vertical-align: middle
		margin-right: 16px
		transform: scale(1.0)
		transition: all linear 0.15s
			
	& .ahsu-title
		display: inline-block

	& .ahsu-content
		height: 0px
		margin-top: 0px
		margin-left: 40px
		opacity: 0.0
		visibility: hidden
		transition: all linear 0.15s

		&.ahsu-show
			height: 60px
			margin-top: 12px
			opacity: 1.0
			visibility: visible
		