.ahsu-ftue-circle1-wrapper
	.ahsu-rectangular-overlay.top-down
	.ahsu-rectangular-overlay.bottom-up
	.ahsu-rectangular-overlay.right-to-left
	.ahsu-rectangular-overlay.left-to-right
	.ahsu-circle-outliner
		.ahsu-ftue-description
			p {{highlights[highlightIndex].description}}