.ahsu-ftue-outline1-wrapper
	.ahsu-rectangular-overlay.top-left-down
		.ahsu-highlighter
	.ahsu-rectangular-overlay.bottom-right-up
		.ahsu-highlighter
	.ahsu-rectangular-overlay.top-right-left
		.ahsu-highlighter
	.ahsu-rectangular-overlay.bottom-left-right
		.ahsu-highlighter
		.ahsu-ftue-description
			p {{highlights[highlightIndex].description}}