.view.menus
	.search-bar-wrapper
		img.search-icon(src='icons/search-gray.png')
		input(type='text' placeholder='Search for an animation' ng-model="query")

	.main-content-wrapper(ng-repeat="anim in animations | filter:search")
		.animation-wrapper
			.title {{anim.title}}
			.menu-placer(ng-class="{'ahsu-banner' : anim.type=='banner', 'ahsu-button' : anim.type=='button'}")
				ahsu-menu-popup1(ng-if="anim.id=='popup1'")
				ahsu-menu-banner1(ng-if="anim.id=='banner1'")
			.description-wrapper(ng-click="extendDescription($event)") 
				p {{anim.description}}