.ahsu-spinner1-wrapper
	.ahsu-loading-spinner1-wrapper
		h3 Loading...
		img(src="icons/spinner-orange.png")

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation