ahsu-ftue-circle1-wrapper
.ahsu-ftue-circle1-wrapper
	position: relative

	& .ahsu-circle-outliner
		position: fixed
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		border-radius: 50%
		border: 2px solid red

		& .ahsu-circle-pointer
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			height: 16px
			width: 16px
			background-color: red
			border-radius: 50%

		& .ahsu-ftue-description
			position: absolute
			top: 16px
			right: 0
			line-height: 32px
			padding: 8px 16px
			border-radius: 8px
			background: red
			color: white
			opacity: 0.0
			visibility: hidden
			transition: all linear 0.15s

			& p
				margin: 0px
				
			&.ahsu-show
				opacity: 1.0
				visibility: visible
		