.ahsu-circle-filler-wrapper
	.ahsu-circle-filler
		.ahsu-fill
		.ahsu-fill-blocker
		.ahsu-fill-percent 0%

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

		