.ahsu-line-pulser1-wrapper
	.ahsu-line-pulser1
		.ahsu-pulser1.first
		.ahsu-pulser1.second
		.ahsu-pulser1.third
		.ahsu-pulser1.fourth

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
