.ahsu-profile-progress1-wrapper
	.ahsu-profile-wrapper
		.ahsu-profile-progress
			.ahsu-hider.right
			.ahsu-hider.bottom-left
			.ahsu-hider.top-left
			img.ahsu-profile-pic(src='../icons/profile.jpg')

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

		