.ahsu-progress-bar1-wrapper
	.ahsu-progress-bar1
		h3 Loading...
		.ahsu-bar
			.ahsu-progress
		img.ahsu-checkmark(src="icons/checkmark-gray.png")

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		