.ahsu-single-pulser1-wrapper
	.ahsu-single-pulser1
		.ahsu-pulser1

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

		