.ahsu-step-list1-wrapper
	.ahsu-list-wrapper
		ul.ahsu-outer-list
			li.ahsu-list-item(ng-repeat="step in steps")
				.ahsu-icon-wrapper
					.ahsu-icon
				h4 {{step.text}}
		.ahsu-mask.above
		.ahsu-mask.below
		.ahsu-counter {{stepCnt}} / {{steps.length}}

	.view-to-show
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

		