doctype html
html(lang="en")

	head
		title= Moosepiration
		link(rel='stylesheet', href='out.css')
		script(type='text/javascript', src='libs/jquery-2.2.3.min.js')
		script(type='text/javascript', src='libs/lodash-v411-1.js')
		script(type='text/javascript', src='libs/angular.min.js')
		script(type='text/javascript', src="libs/angular-route.min.js")
		script(type='text/javascript', src='js/route.js')
		script(type='text/javascript', src='js/headerCtrl.js')
		script(type='text/javascript', src='js/loadersCtrl.js')
		script(type='text/javascript', src='js/menusCtrl.js')
		script(type='text/javascript', src='js/ftueCtrl.js')
		script(type='text/javascript', src='js/accordionsCtrl.js')

		script(type='text/javascript', src='js/Loaders/spinner1.js')
		script(type='text/javascript', src='js/Loaders/progressBar1.js')
		script(type='text/javascript', src='js/Loaders/circleFiller.js')
		script(type='text/javascript', src='js/Loaders/singlePulser1.js')
		script(type='text/javascript', src='js/Loaders/linePulser1.js')
		script(type='text/javascript', src='js/Loaders/profileProgress1.js')
		script(type='text/javascript', src='js/Loaders/stepList1.js')

		script(type='text/javascript', src='js/Menus/popup1.js')
		script(type='text/javascript', src='js/Menus/banner1.js')

	body(ng-app="myApp")
		.header
			.header-logo-wrapper(ng-controller="HeaderCtrl")
				a(ng-href="#/") Moospiration
				ahsu-menu-popup1.main-menu-wrapper(items="links")

		.view-wrapper(ng-view)
			