colorGray = #e8e8e8
colorLightGray = #f2f2f2

ahsu-menu-banner2-wrapper
.ahsu-menu-banner2-wrapper
	position: relative

	& a:hover
		text-decoration: none

	& ul
		margin: 0
		padding: 0
		list-style: none

		& li
			display: inline-block
			margin: 0px 16px
			padding: 8px 0px

			& .ahsu-underliner
				width: 100%
				height: 3px
				margin-top: 6px
				background-color: orange
				transform: translateY(6px)
				opacity: 0.0
				visibility: hidden
				transition: 0.1s linear all

			&:hover .ahsu-underliner
				transform: translateY(0)
				opacity: 1.0
				visibility: visible

