colorGray = #e8e8e8
colorLightGray = #f2f2f2

ahsu-menu-popup1-wrapper
.ahsu-menu-popup1-wrapper
	position: relative

	& button
		outline: none
		padding: 8px
		cursor: pointer
		border-radius: 50%
		background-color: colorLightGray

		&.ahsu-active
		&:hover
			background-color: colorGray

		& img
			width: 24px
			height: 24px

	& ul
		position: absolute
		top: 100%
		right: 100%
		transform: translate(30%, -30%) scale(0.6)
		width: 150px
		margin: 0
		padding: 0
		background-color: white
		border-radius: 12px
		border: 1px solid colorGray
		list-style: none
		overflow: hidden
		text-align: center
		opacity: 0.0
		visibility: hidden
		transition: all linear 0.1s

		&.ahsu-show
			transform: translate(10%, -10%) scale(1.0)
			opacity: 1.0
			visibility: visible

		& li
			width: 100%
			height: 48px
			line-height: 48px
			border-bottom: 1px solid colorGray
			box-sizing: border-box
			cursor: pointer

			&:last-child
				border-bottom: none

			&:hover
				background-color: colorGray